#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

*,
*:focus,
*:hover {
  outline: none;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  max-width: 90%;
  max-height: 100vh;
}

p {
  font-size: 12px;
  color: rgb(84, 82, 82);
}

.logo {
  display: block;
  margin: 0 auto;
  height: 8rem;
  padding: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.long-text{
  margin-top: 1rem;
}

/* .header-container p {
  font-size: 14px;
  color: rgb(84, 82, 82);
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container {
  margin-bottom: 2px;
  max-width: 900px;
}

.header-container h6 {
  font-size: 18px;
} */

.main-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  align-content: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.card-text {
  max-width: 800px;
}

h2 {
  font-size: 30px;
  color: #333;
}

button {
  border: none;
  border-radius: 0.375rem;
  padding: 0.75rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: aliceblue;
  background-color: rgb(77 155 50);
  cursor: pointer;
  margin-bottom: 0.5rem;
}

button:hover {
  background-color: rgb(69, 140, 45);
}

.submit-button-unactive {
  background-color: rgb(80, 109, 70);
}

.submit-button-unactive:hover {
  background-color: rgb(80, 109, 70);
}

.browse-button-card {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.browse-button-card input {
  width: 60%;
}

.browse-button-card label {
  width: 35%;
  height: 35%;
  margin-left: 1rem;
  text-align: center;
}

.browse-button {
  border: none;
  border-radius: 0.375rem;
  padding: 0.75rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: aliceblue;
  background-color: rgb(77 155 50);
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.browse-button:hover {
  background-color: rgb(69, 140, 45);
}

.input-icons {
  position: relative;
}

.input-field {
  box-sizing: border-box;
  /* Ensure padding is included in the total width */
  width: 100%;
  /* Ensure the input takes up 100% width */
  padding-right: 30px;
  /* Adjust the value based on the icon size and spacing you desire */
}

.icon {
  position: absolute;
  top: 40%;
  right: 10px;
  /* Adjust the value based on the icon spacing you desire */
  transform: translateY(-50%);
  font-size: 21px;
  cursor: pointer;
}

.icon-error-false {
  color: #333;
}

.icon-error-true {
  color: #a1403e;
}

/* input{
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.313rem;
  color: rgb(59, 59, 59);
  font-size: 1em;
  font-weight: 500;
  border: 1px solid rgb(173, 172, 172);
} */

.device-field-error-false {
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.313rem;
  color: rgb(59, 59, 59);
  font-size: 1em;
  font-weight: 500;
  border: 1px solid rgb(173, 172, 172);
}

.device-field-error-true {
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.313rem;
  color: #a1403e;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid #e0b4b4;
  background-color: #f9e8e7;
}

.device-field-error-true::placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  color: #e17d80;
}

.device-field-error-true:focus {
  border: 1px solid rgb(138, 133, 133);
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  color: rgb(88, 87, 87);
}

input:focus {
  border: 1px solid rgb(38, 37, 37);
}

.info-p{ color: #fff }

.info-p h6{
  color: #fff;
  font-size: medium;
  margin: 0.5rem 0rem;
}

.info-p p{
  color: #fff;
}

.message-contatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.error-text {
  color: brown;
}

.hide-true {
  visibility: hidden;
}

.hide-false {
  visibility: visible;
}

.success-true {
  color: rgb(77 155 50);
  font-weight: 700;
}

.success-false {
  color: #a1403e;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .main-container {
    flex-direction: column;
  }

  hr {
    width: 300px;
  }
}

.card {
  padding: 2em;
}
